# Project exclude paths
/node_modules/
/node_modules/bootstrap/dist/css/bootstrap-grid.css.map
/node_modules/bootstrap/dist/css/bootstrap-grid.min.css.map
/node_modules/bootstrap/dist/css/bootstrap-grid.rtl.css.map
/node_modules/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
/node_modules/bootstrap/dist/css/bootstrap-reboot.css.map
/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css.map
/node_modules/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
/node_modules/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
/node_modules/bootstrap/dist/css/bootstrap-utilities.css.map
/node_modules/bootstrap/dist/css/bootstrap-utilities.min.css.map
/node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
/node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
/node_modules/bootstrap/dist/css/bootstrap.css.map
/node_modules/bootstrap/dist/css/bootstrap.min.css.map
/node_modules/bootstrap/dist/css/bootstrap.rtl.css.map
/node_modules/bootstrap/dist/css/bootstrap.rtl.min.css.map
/node_modules/bootstrap/dist/js/
/node_modules/bootstrap/js/dist/alert.js.map
/node_modules/bootstrap/js/dist/base-component.js.map
/node_modules/bootstrap/js/dist/button.js.map
/node_modules/bootstrap/js/dist/carousel.js.map
/node_modules/bootstrap/js/dist/collapse.js.map
/node_modules/bootstrap/js/dist/dom/data.js.map
/node_modules/bootstrap/js/dist/dom/event-handler.js.map
/node_modules/bootstrap/js/dist/dom/manipulator.js.map
/node_modules/bootstrap/js/dist/dom/selector-engine.js.map
/node_modules/bootstrap/js/dist/dropdown.js.map
/node_modules/bootstrap/js/dist/modal.js.map
/node_modules/bootstrap/js/dist/offcanvas.js.map
/node_modules/bootstrap/js/dist/popover.js.map
/node_modules/bootstrap/js/dist/scrollspy.js.map
/node_modules/bootstrap/js/dist/tab.js.map
/node_modules/bootstrap/js/dist/toast.js.map
/node_modules/bootstrap/js/dist/tooltip.js.map
/node_modules/bootstrap/js/dist/util/backdrop.js.map
/node_modules/bootstrap/js/dist/util/component-functions.js.map
/node_modules/bootstrap/js/dist/util/config.js.map
/node_modules/bootstrap/js/dist/util/focustrap.js.map
/node_modules/bootstrap/js/dist/util/index.js.map
/node_modules/bootstrap/js/dist/util/sanitizer.js.map
/node_modules/bootstrap/js/dist/util/scrollbar.js.map
/node_modules/bootstrap/js/dist/util/swipe.js.map
/node_modules/bootstrap/js/dist/util/template-factory.js.map
/node_modules/bootstrap/LICENSE
/node_modules/bootstrap/README.md